# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
5-10-2026/thong-tin-sinh-vien-thao-tac-file.cpp
5-11-2026/game-danh-bai.cpp
5-18-2026/25110008_NguyenTuanAnh_BonusPoker.CPP
5-18-2026/25110008_NguyenTuanAnh_BonusPoker.CPP
5-18-2026/25110008_NguyenTuanAnh_Cau14BTTH01.CPP
5-18-2026/bai-14.cpp
5-20-2026/.vscode/c_cpp_properties.json
5-20-2026/25110008_NguyenTuanAnh_Bignum.cpp
5-20-2026/bignum.cppp.txt
ma-tran.cpp
5-11-2026/xoa-phan-tu-trung-lap.cpp
5-27-2026/INPUT.TXT
6-3-2026/INPUT.TXT
6-3-2026/chia-bai.txt
6-3-2026/sv.txt
